.App {
  text-align: center;
  background-color: #EEEEEE;
  
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.App-header {
  background-color: #305F72;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F36886;
}

.searchBar{
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 40vw;
  
}

.cardCases {
  display: flex;
  justify-content:space-around;
}
.Chart {
  height: 300px;
  width: 200px;
}
hr {
  margin: 25px;
  align-self: center;
}
/* .areaChart{
  width:500px;
  height:400px;
} */
footer{
  background-color: #011936;
  color: white;
  padding: 30px;
  font-size: large;
}
footer a {
  text-decoration: none;
  color:#0ce5e1;
}
.madeBy{
  margin-top: 15px;
}

@media screen and (max-width: 992px) {
  .cardCases {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* .areaChart{
    width: 65%vw;
    height: 20%vw;
  } */
}
